.story{
    background-color:rgba($color-white,.70);
    padding:6rem;
    padding-left: 9rem;
    width:75%;
    margin:0 auto;
    font-size: $font-primary;
    transform: skewX(-12deg);
    &__image-box{
        transform:translateX(-3rem) skewX(12deg);
        height:15rem;
        width: 15rem;
        border-radius: 50%;
        
        float: left;
        shape-outside: circle(50% at 50% 50% );
        clip-path: circle(50% at 50% 50% );
        
        
        
    }
    &__image{
        height:100%;
       background-size: cover;
       transform: translateX(-4rem) scale(1.4);
       transition: all .3s;
    
    }
    &__text-box{
        transform: skewX(12deg);
        padding-left:9rem;
    }
    &__caption{
        position: absolute;
        color:$color-white;
        top:50%;
        left:50%;
        transform: translate(-50%,0%) ;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%,-50%)  ;
        
    }
    &:hover &__image{
        transform: translate(-4rem) scale(1) ; 
        filter:blur(3px) brightness(80%);
    }
}